@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600i');

body {
    margin: 65px 0 0;
    padding: 0;
    background: #000000;
    box-sizing: border-box;
}

html {
    font: normal 16px Helvetica, monospace;
    color: #ffffff;
}

a {
    text-decoration: none;
    color: aliceblue;
    opacity: 0.6;
}

a:hover{
    opacity: 1;
    cursor: pointer;
}

nav,ul {
    list-style: none;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 10vh;
    background-color: #2C3E50;
    position: fixed;
    animation: 1s fadein 0.5s forwards;
    opacity: 0;
    z-index: 1;
}

@keyframes fadein{
	100%{
		opacity: 1;
	}
}

header h2 {
    display: flex;
    align-items: center;
    padding: 0 20px;
}

header h2 a img {
    width: 48px;
    height: 48px;
    margin:7px 15px 0;
}

header nav {
    display: flex;
    margin-right: 15px;
}

header nav li {
    font: italic 18px Montserrat;
    padding: 0 15px;
}

.btn {
    text-transform: uppercase;
    font: 700 18px Helvetica;
    width: 280px;
    flex-wrap: wrap;
    margin: 10px 20px;
    padding: 20px 40px;
    border-radius: 8px;
    background-color: rgb(11, 11, 11);
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    /* height: 100vh; */
    margin: 0 20px;
    background-color: rgb(11, 11, 11);
}

section:nth-child(even) {
    background-color: #000000;
}

.main {
    flex-direction: row;
    justify-content: space-around;
    height: 100vh;
    text-align: center;
    opacity: 0;
	animation: 1s slidefade 1s forwards;
}

@keyframes slidefade {
	100%{
		opacity: 1;
	}
}

.main div h3.title{
    text-transform: capitalize;
    font: bold 40px "Open Sans", sans-serif;
    margin-bottom: 30px;
    letter-spacing: 2px;
}

.main div h5.currency{
    margin-bottom: -10px;
    font-size: 18px;
    color: dodgerblue;
}

.main div h5.subtitle {
    font : 600 18px "Open Sans", sans-serif;
}

.mouse-features {
    display: flex;
    /* flex-wrap: wrap; */
    flex-direction: column;
    height: auto;   
}

section div div.feature-section{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 5px 20px 30px;
    padding: 30px 20px;
    border-bottom: 1px solid #00a8e1;
}

section div div.feature-section div.description{
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    margin: 5px 10px;
}

.specification-section {
    background-color: #00a9e0;
    display: flex;
}

.specification-section div {
    display: flex;
    padding: 0 20px;
}

.specification-section div div {
    display: flex;
    flex-direction: column;
    flex-basis: 50%;
    text-align: left;
}

.last{
    border-style: none;
}

hr{
	width: 250px;
	height: 3px;
	background-color: #3f51b5;
	border:0;
	margin-bottom: 50px;
}

section h2 {
    font: bold 40px "Open Sans", Montserrat;
    margin-bottom: 10px;
}

.contact form {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
}

.contact form .btn {
    width: 30%;
}
.contact form input {
	padding: 15px;
	margin-right: 20px;
	font-size: 18px;
	color: #555;
	flex: 1;
}

@media (max-width: 1000px) {
	.contact form input {
		flex-basis: 100%;
		margin: 0 0 20px 0;
	}
}